.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

.clicked{
  background-color: #E52307;
}

@media screen and (min-width: 1280px){
  .App{
    flex-direction: initial;
  }
}